/* ========================================= */
/*  Chat Messages Customization             */
/* ========================================= */

// Custom Cardigan chat messages - adiciona dois dividers
:is(.chat-popout, #chat-log, .chat-log) .message.cardigan-chat {
  .message-header {
    position: relative;

    // First divider (left side)
    .message-divider-1 {
        position: absolute;
        bottom: 0;
        left: 221px;
        width: 23%;
        height: 70px;
        object-fit: contain;
        pointer-events: none;
        transform: rotate(138deg) scaleX(-1);
        top: -12px;
    }

    // Second divider (right side)
    .message-divider-2 {
        position: absolute;
        bottom: 0;
        right: 221px;
        width: 23%;
        height: 70px;
        object-fit: contain;
        pointer-events: none;
        transform: rotate(224deg);
        top: -12px;
    }
  }
}

// Ajuste específico para mensagens in-character (ic)
:is(.chat-popout, #chat-log, .chat-log) .message.ic.cardigan-chat {
  .message-header {

    .message-sender{
        display: none !important;
    }

    .message-divider-1,
    .message-divider-2 {
      top: -19px;
    }
  }

  .message-content {
        margin-top: 4px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
  }
}