{{! proficiencies Tab }}
<section
  class='tab proficiencies {{tab.cssClass}}'
  data-group='primary'
  data-tab='proficiencies'
>
  <section class='main proficiencies-tab-main'>

    {{! Proficiencies }}
    <div class='proficiencies'>
      {{! proficiencies Container - Largura completa }}
      <div class='proficiencies-container'>
        {{! Accuracy Field }}
        <div class='ability-row horizontal-field accuracy-proficiency'>
          <div class='bonus-container'>
            <input
              type='number'
              name='system.abilities.accuracy.totalBonus'
              value='{{system.abilities.accuracy.totalBonus}}'
              data-dtype='Number'
              class='bonus-input dynamic-field'
              data-ability='accuracy'
              data-field='totalBonus'
              title='Total Bonus (Focus: manual | Blur: calculated + manual)'
            />
          </div>
          <div class='status-display'>
            <input
              type='number'
              name='system.abilities.accuracy.value'
              value='{{system.abilities.accuracy.value}}'
              data-dtype='Number'
              class='ability-value dynamic-field'
              data-ability='accuracy'
              data-field='value'
              title='Rolar | Editar'
            />
            <img src='systems/cardigan/assets/images/decorative/icons/icon-d20.svg' class='d20-icon' alt='d20' />
          </div>
          <label data-tooltip="Precisão">{{localize "CARDIGAN.Ability.Accuracy.long"}}</label>
        </div>
      </div>
    </div>
  </section>
</section>
