{{! Advantage Selection Dialog Template }}
<div class="advantage-selection-content">
  {{#unless hideAttackMode}}
  <div class="attack-mode-container">
    <label class="hand-checkbox" data-tooltip="CARDIGAN.Tooltip.HandSecondary" data-tooltip-class="cardigan-tooltip">
      <input type="checkbox" name="handSecondary" value="secondary" id="attack-hand-secondary">
      <span class="checkbox-icon hand-icon"></span>
    </label>
    <label class="joint-attack-checkbox" data-tooltip="CARDIGAN.Tooltip.JointAttack" data-tooltip-class="cardigan-tooltip">
      <input type="checkbox" name="attackType" value="conjunto" id="attack-conjunto">
      <span class="checkbox-icon joint-icon"></span>
    </label>
    <label class="hand-primary-checkbox" data-tooltip="CARDIGAN.Tooltip.HandPrimary" data-tooltip-class="cardigan-tooltip">
      <input type="checkbox" name="handPrimary" value="primary" id="attack-hand-primary">
      <span class="checkbox-icon hand-primary-icon"></span>
    </label>
  </div>
  {{/unless}}
  
  <div class="roll-options-container">
    <label class="roll-modifier-option" data-tooltip="CARDIGAN.Tooltip.EnhancedDisadvantage" data-tooltip-class="cardigan-tooltip">
      <input type="radio" name="rollModifier" value="enhanced-disadvantage">
      <span class="modifier-content">
        <span class="modifier-icon enhanced-disadvantage"><img src="systems/cardigan/assets/images/decorative/icons/icon-enhanced-disadvantage.svg" alt="Desvantagem Aprimorada"></span>
      </span>
    </label>
    
    <label class="roll-modifier-option" data-tooltip="CARDIGAN.Tooltip.Disadvantage" data-tooltip-class="cardigan-tooltip">
      <input type="radio" name="rollModifier" value="disadvantage">
      <span class="modifier-content">
        <span class="modifier-icon disadvantage"><img src="systems/cardigan/assets/images/decorative/icons/icon-disadvantage.svg" alt="Desvantagem"></span>
      </span>
    </label>
    
    <div class="roll-action">
      <button type="button" class="roll-test-button" data-action="rollTest" data-tooltip="CARDIGAN.Tooltip.RollTest" data-tooltip-class="cardigan-tooltip">
        <img src="systems/cardigan/assets/images/decorative/icons/icon-d20.svg" alt="Rolar Teste">
      </button>
    </div>
    
    <label class="roll-modifier-option" data-tooltip="CARDIGAN.Tooltip.Advantage" data-tooltip-class="cardigan-tooltip">
      <input type="radio" name="rollModifier" value="advantage">
      <span class="modifier-content">
        <span class="modifier-icon advantage"><img src="systems/cardigan/assets/images/decorative/icons/icon-advantage.svg" alt="Vantagem"></span>
      </span>
    </label>
    
    <label class="roll-modifier-option" data-tooltip="CARDIGAN.Tooltip.EnhancedAdvantage" data-tooltip-class="cardigan-tooltip">
      <input type="radio" name="rollModifier" value="enhanced-advantage">
      <span class="modifier-content">
        <span class="modifier-icon enhanced-advantage"><img src="systems/cardigan/assets/images/decorative/icons/icon-enhanced-advantage.svg" alt="Vantagem Aprimorada"></span>
      </span>
    </label>
  </div>
</div>