{{! Advantage Selection Dialog Template }}
<div class="advantage-selection-content">
  {{#unless hideAttackMode}}
  <fieldset class="attack-type-fieldset">
    <legend>Tipo de Ataque</legend>
    <div class="attack-type-options">
      <label class="attack-type-label">
        <input type="checkbox" name="attackType" value="conjunto" id="attack-conjunto">
        <span><strong>Conjunto</strong></span>
      </label>
      <label class="attack-type-label">
        <input type="checkbox" name="attackType" value="individual" id="attack-individual" checked>
        <span><strong>Individual</strong></span>
      </label>
    </div>
  </fieldset>
  {{/unless}}
  
  <div class="roll-options-container">
    <label class="roll-modifier-option">
      <input type="radio" name="rollModifier" value="enhanced-disadvantage">
      <span class="modifier-content">
        <span class="modifier-icon enhanced-disadvantage"><img src="systems/cardigan/assets/images/decorative/icons/icon-enhanced-disadvantage.svg" alt="Desvantagem Aprimorada"></span>
      </span>
    </label>
    
    <label class="roll-modifier-option">
      <input type="radio" name="rollModifier" value="disadvantage">
      <span class="modifier-content">
        <span class="modifier-icon disadvantage"><img src="systems/cardigan/assets/images/decorative/icons/icon-disadvantage.svg" alt="Desvantagem"></span>
      </span>
    </label>
    
    <div class="roll-action">
      <button type="button" class="roll-test-button" data-action="rollTest">
        <img src="systems/cardigan/assets/images/decorative/icons/icon-d20.svg" alt="Rolar Teste">
      </button>
    </div>
    
    <label class="roll-modifier-option">
      <input type="radio" name="rollModifier" value="advantage">
      <span class="modifier-content">
        <span class="modifier-icon advantage"><img src="systems/cardigan/assets/images/decorative/icons/icon-advantage.svg" alt="Vantagem"></span>
      </span>
    </label>
    
    <label class="roll-modifier-option">
      <input type="radio" name="rollModifier" value="enhanced-advantage">
      <span class="modifier-content">
        <span class="modifier-icon enhanced-advantage"><img src="systems/cardigan/assets/images/decorative/icons/icon-enhanced-advantage.svg" alt="Vantagem Aprimorada"></span>
      </span>
    </label>
  </div>
</div>