{{! Simple Create Item Dialog }}
<div class="create-item-content">
  <h2>TESTE - Selecione o Tipo</h2>
  
  <div class="item-types">
    {{#each types}}
    <button type="button" class="item-type-btn" data-item-type="{{type}}">
      <i class="fas {{icon}}"></i>
      <span>{{label}}</span>
    </button>
    {{/each}}
  </div>
</div>
