{{! Item Type Selection Dialog - Simple Test }}
<h2>TESTE - Selecione o Tipo de Item</h2>

<div class="item-types-container">
  <button type="button" class="item-type-option" data-type="arma" data-name="Nova Arma">
    <i class="fas fa-sword"></i>
    <span>Arma</span>
  </button>
  
  <button type="button" class="item-type-option" data-type="armadura" data-name="Nova Armadura">
    <i class="fas fa-shield"></i>
    <span>Armadura</span>
  </button>
  
  <button type="button" class="item-type-option general-items-button" data-action="openGeneralItems">
    <i class="fas fa-boxes"></i>
    <span>Itens Gerais</span>
  </button>
</div>

<button type="button" class="cancel-button" data-action="cancel">Cancelar</button>