<form class="dialog-form standard-form life-energy-add-form">
  <div class="life-energy-add-sections">
    {{> "systems/cardigan/templates/dialogs/partials/life-energy-add-section.hbs"
      target="life"
      icon="icon-health.svg"
      label="Vida"
      decreaseAriaLabel="Retirar vida"
      increaseAriaLabel="Adicionar vida"
      quantityPlaceholder="Dados"
      tempTitle="VIDA TEMPORÁRIA"
      tempAriaLabel="Vida Temporária"
    }}

    {{> "systems/cardigan/templates/dialogs/partials/life-energy-add-section.hbs"
      target="energy"
      icon="icon-energy.svg"
      label="Energia"
      decreaseAriaLabel="Retirar energia"
      increaseAriaLabel="Adicionar energia"
      quantityPlaceholder="Quantidade de Dado"
      tempTitle="ENERGIA TEMPORÁRIA"
      tempAriaLabel="Energia Temporária"
    }}
  </div>

  <div class="life-energy-add-actions">
    <button type="button" class="life-energy-add-submit-button">Adicionar</button>
  </div>
</form>
