<form class="dialog-form standard-form life-energy-add-form">
  <div class="life-energy-add-sections">
    <div class="life-energy-add-section life-energy-add-section-life">
      <div class="life-energy-add-header">
        <p>Vida</p>
      </div>
      <img class="life-energy-add-border" src="systems/cardigan/assets/images/decorative/border.webp" alt="Borda decorativa" />
      <div class="life-energy-add-content" data-life-energy-life-content>
        <div class="life-energy-add-modifier-controls">
          <div class="life-energy-add-button-wrapper" data-tooltip="Remover" data-tooltip-class='cardigan-tooltip'>
            <label class="life-energy-add-check-label" aria-label="Retirar vida">
              <input
                type="checkbox"
                class="life-energy-add-checkbox life-energy-add-life-decrease"
                data-life-energy-target="life"
                data-life-energy-modifier-type="decrease"
              />
              <span class="life-energy-add-symbol life-energy-add-decrease-symbol">-</span>
            </label>
          </div>
          <div class="life-energy-add-button-wrapper" data-tooltip="Adicionar" data-tooltip-class='cardigan-tooltip'>
            <label class="life-energy-add-check-label" aria-label="Adicionar vida">
              <input
                type="checkbox"
                class="life-energy-add-checkbox life-energy-add-life-increase"
                data-life-energy-target="life"
                data-life-energy-modifier-type="increase"
              />
              <span class="life-energy-add-symbol life-energy-add-increase-symbol">+</span>
            </label>
          </div>
        </div>

        <div class="life-energy-add-dice-row" data-life-energy-dice>
          <img class="life-energy-add-dice-icon" src="systems/cardigan/assets/images/decorative/icons/icon-d20.svg" alt="Dado" data-tooltip="Tipo de Dado" data-tooltip-class='cardigan-tooltip' />
          <div class="life-energy-add-dice-selection" data-life-energy-dice-selection>
            <input type="hidden" class="life-energy-add-dice-input" value="1d20" data-life-energy-dice-input />
            <button type="button" class="life-energy-add-dice-trigger" data-life-energy-dice-trigger aria-haspopup="listbox" aria-expanded="false">
              <span class="life-energy-add-dice-label" data-life-energy-dice-label>1d20</span>
            </button>
            <div class="life-energy-add-dice-menu is-collapsed" data-life-energy-dice-menu role="listbox">
              <button type="button" class="life-energy-add-dice-option is-selected" data-life-energy-dice-option data-value="1d20">1d20</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d12">1d12</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d10">1d10</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d8">1d8</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d6">1d6</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d4">1d4</button>
            </div>
          </div>
        </div>

        <div class="life-energy-add-dice-inputs-row">
          <div class="life-energy-add-dice-input-column">
            <input type="number" class="life-energy-add-dice-quantity-input" name="lifeEnergy.life.diceQuantity" value="1" min="1" step="1" placeholder="Quantidade de Dado" aria-label="Quantidade de Dado" data-tooltip="Quantidade de Dados" data-tooltip-class='cardigan-tooltip' />
          </div>
          <div class="life-energy-add-dice-input-column">
            <input type="number" class="life-energy-add-dice-bonus-input" name="lifeEnergy.life.bonus" value="0" step="1" placeholder="Bônus" aria-label="Bônus" data-tooltip="Bônus" data-tooltip-class='cardigan-tooltip' />
          </div>
        </div>
      </div>
    </div>

    <div class="life-energy-add-section life-energy-add-section-energy">
      <div class="life-energy-add-header">
        <p>Energia</p>
      </div>
      <img class="life-energy-add-border" src="systems/cardigan/assets/images/decorative/border.webp" alt="Borda decorativa" />
      <div class="life-energy-add-content" data-life-energy-energy-content>
        <div class="life-energy-add-modifier-controls">
          <div class="life-energy-add-button-wrapper" data-tooltip="Remover" data-tooltip-class='cardigan-tooltip'>
            <label class="life-energy-add-check-label" aria-label="Retirar energia">
              <input
                type="checkbox"
                class="life-energy-add-checkbox life-energy-add-energy-decrease"
                data-life-energy-target="energy"
                data-life-energy-modifier-type="decrease"
              />
              <span class="life-energy-add-symbol life-energy-add-decrease-symbol">-</span>
            </label>
          </div>
          <div class="life-energy-add-button-wrapper" data-tooltip="Adicionar" data-tooltip-class='cardigan-tooltip'>
            <label class="life-energy-add-check-label" aria-label="Adicionar energia">
              <input
                type="checkbox"
                class="life-energy-add-checkbox life-energy-add-energy-increase"
                data-life-energy-target="energy"
                data-life-energy-modifier-type="increase"
              />
              <span class="life-energy-add-symbol life-energy-add-increase-symbol">+</span>
            </label>
          </div>
        </div>

        <div class="life-energy-add-dice-row" data-life-energy-dice>
          <img class="life-energy-add-dice-icon" src="systems/cardigan/assets/images/decorative/icons/icon-d20.svg" alt="Dado" data-tooltip="Tipo de Dado" data-tooltip-class='cardigan-tooltip' />
          <div class="life-energy-add-dice-selection" data-life-energy-dice-selection>
            <input type="hidden" class="life-energy-add-dice-input" value="1d20" data-life-energy-dice-input />
            <button type="button" class="life-energy-add-dice-trigger" data-life-energy-dice-trigger aria-haspopup="listbox" aria-expanded="false">
              <span class="life-energy-add-dice-label" data-life-energy-dice-label>1d20</span>
            </button>
            <div class="life-energy-add-dice-menu is-collapsed" data-life-energy-dice-menu role="listbox">
              <button type="button" class="life-energy-add-dice-option is-selected" data-life-energy-dice-option data-value="1d20">1d20</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d12">1d12</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d10">1d10</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d8">1d8</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d6">1d6</button>
              <button type="button" class="life-energy-add-dice-option" data-life-energy-dice-option data-value="1d4">1d4</button>
            </div>
          </div>
        </div>

        <div class="life-energy-add-dice-inputs-row">
          <div class="life-energy-add-dice-input-column">
            <input type="number" class="life-energy-add-dice-quantity-input" name="lifeEnergy.energy.diceQuantity" value="1" min="1" step="1" placeholder="Quantidade de Dado" aria-label="Quantidade de Dado" data-tooltip="Quantidade de Dados" data-tooltip-class='cardigan-tooltip' />
          </div>
          <div class="life-energy-add-dice-input-column">
            <input type="number" class="life-energy-add-dice-bonus-input" name="lifeEnergy.energy.bonus" value="0" step="1" placeholder="Bônus" aria-label="Bônus" data-tooltip="Bônus" data-tooltip-class='cardigan-tooltip' />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="life-energy-add-actions">
    <button type="button" class="life-energy-add-submit-button">Adicionar</button>
  </div>
</form>
