<div class="enhancement-config-dialog">
  <form>
    <div class="form-group description-group">
      <label for="enhancement-description">Descrição</label>
      <prose-mirror
        name="description"
        editable="true"
      >{{{enrichedDescription}}}</prose-mirror>
    </div>

    <div class="form-group energy-group">
      <label class="checkbox">
        <input type="checkbox" name="hasEnergy" {{#if enhancement.hasEnergy}}checked{{/if}} />
        <span>Modificar Custo de Energia</span>
      </label>
      
      <div class="energy-cost-input" style="display: {{#if enhancement.hasEnergy}}block{{else}}none{{/if}};">
        <label for="energyCost">Novo Custo de Energia</label>
        <input 
          type="number" 
          name="energyCost" 
          id="energyCost" 
          value="{{enhancement.energyCost}}" 
          min="0" 
          placeholder="Ex: 5"
        />
        <p class="hint">Este valor substituirá o custo de energia padrão da skill quando este aprimoramento estiver ativo.</p>
      </div>
    </div>
  </form>
</div>