<form class="dialog-form standard-form skill-test-add-form">
  <div class="skill-test-add-sections">
    <div class="skill-test-add-effects-section">
      <div class="skill-test-add-effects-header">
        <p>Efeitos</p>
      </div>
      <img class="skill-test-add-effects-border" src="systems/cardigan/assets/images/decorative/border.webp" alt="Borda decorativa" />
      <div class="skill-test-add-effects-add-button-container">
        <button type="button" class="skill-test-add-effects-add-button" aria-label="Adicionar efeito" data-tooltip="Adicionar" data-tooltip-class="cardigan-tooltip">
          <img
            src="systems/cardigan/assets/images/decorative/icons/icon-add-effects.svg"
            alt="Adicionar efeito"
            class="add-effect-icon"
          />
        </button>
      </div>
      <div class="skill-test-add-effects-list" data-skill-test-effects-list></div>
    </div>
    <div class="skill-test-add-test-section">
      <div class="skill-test-add-test-header">
        <p>Perícias</p>
      </div>
      <img class="skill-test-add-test-border" src="systems/cardigan/assets/images/decorative/border.webp" alt="Borda decorativa" />
      <div class="skill-test-add-test-add-button-container">
        <button type="button" class="skill-test-add-test-add-button" aria-label="Adicionar perícia" data-tooltip="Adicionar" data-tooltip-class="cardigan-tooltip">
          <img
            src="systems/cardigan/assets/images/decorative/icons/icon-add-effects.svg"
            alt="Adicionar perícia"
            class="add-test-icon"
          />
        </button>
      </div>
      <div class="skill-test-add-test-list" data-skill-test-list></div>
    </div>
  </div>

  <div class="skill-test-add-actions">
    <button type="button" class="skill-test-add-submit-button">Adicionar</button>
  </div>
</form>
